<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.infrastructure.services.crud.persistence.dao.DepartmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.infrastructure.services.crud.persistence.model.Department">
		<id column="id" property="id" />
		<result column="sort" property="sort" />
		<result column="pid" property="pid" />
		<result column="name" property="name" />
		<result column="full_name" property="fullName" />
		<result column="desc" property="desc" />
		<result column="version" property="version" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sort, pid, name, full_name AS fullName, desc, version
    </sql>

</mapper>
