<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.organization.services.persistence.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfeat.am.module.organization.services.persistence.model.Department">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="is_org" property="isOrg" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="full_name" property="fullName" />
        <result column="location" property="location" />
        <result column="note" property="note" />
        <result column="sort" property="sort" />
        <result column="version" property="version" />
    </resultMap>

</mapper>
