<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.social.services.persistence.dao.MemberCareMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.social.services.persistence.model.MemberCare">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="follower_id" property="followerId" />
		<result column="follow_time" property="followTime" />
		<result column="roles" property="followerId" />
	</resultMap>

</mapper>
