<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.sku.services.persistence.dao.SkuProductMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.sku.services.persistence.model.SkuProduct">
		<id column="id" property="id" />
		<result column="product_id" property="productId" />
		<result column="sku_code" property="skuCode" />
		<result column="sku_name" property="skuName" />
		<result column="status" property="status" />
		<result column="sort_value" property="sortValue" />
		<result column="search_key_word" property="searchKeyWord" />
		<result column="bar_code" property="barCode" />
		<result column="description" property="description" />
		<result column="sku_price" property="skuPrice" />
		<result column="readjust_cost_price" property="readjustCostPrice" />
		<result column="suggested_price" property="suggestedPrice" />
		<result column="cost_price" property="costPrice" />
		<result column="stock_cost" property="stockCost" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="weight" property="weight" />
		<result column="volume" property="volume" />
		<result column="spec" property="spec" />

		<result column="field1" property="field1" />
		<result column="field2" property="field2" />
		<result column="field3" property="field3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id AS productId, sku_code AS skuCode,weight,volume,spec, sku_name AS skuName, status, sort_value AS sortValue, search_key_word AS searchKeyWord, bar_code AS barCode, description, sku_price AS skuPrice, readjust_cost_price AS readjustCostPrice, suggested_price AS suggestedPrice, cost_price AS costPrice, stock_cost AS stockCost, create_time AS createTime, update_time AS updateTime, field1, field2, field3
    </sql>

</mapper>
