<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.feedback.services.persistence.dao.TFeedbackImageMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.feedback.services.persistence.model.TFeedbackImage">
		<result column="id" property="id" />
		<result column="feedback_id" property="feedbackId" />
		<result column="url" property="url" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, feedback_id AS feedbackId, url
    </sql>

</mapper>
