<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.warehouse.services.persistence.dao.CheckMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.warehouse.services.persistence.model.Check">
		<id column="id" property="id" />
		<result column="check_code" property="checkCode" />
		<result column="check_time" property="checkTime" />
		<result column="profit_lost" property="profitLost" />
		<result column="check_note" property="checkNote" />
		<result column="transaction_by" property="transactionBy" />
		<result column="originator_id" property="originatorId" />
		<result column="originator_name" property="originatorName" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="field1" property="field1" />
		<result column="status" property="status" />
		<result column="field2" property="field2" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, check_code AS checkCode,originator_name as originatorName, warehouse_id AS warehouseId,transaction_by as transactionBy,status,check_time AS checkTime, profit_lost AS profitLost, check_note AS checkNote,originator_id AS originatorId, field1, field2
    </sql>

</mapper>
