<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.warehouse.services.persistence.dao.StorageInMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.warehouse.services.persistence.model.StorageIn">
		<id column="id" property="id" />
		<result column="org_id" property="orgId" />
		<result column="org_tag" property="orgTag" />
		<result column="transaction_code" property="transactionCode" />
		<result column="transaction_type" property="transactionType" />
		<result column="storage_in_time" property="storageInTime" />
		<result column="transaction_time" property="transactionTime" />
		<result column="batch_no" property="batchNo" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="slot_id" property="slotId" />
		<result column="note" property="note" />
		<result column="status" property="status" />
		<result column="transaction_by" property="transactionBy" />
		<result column="originator_id" property="originatorId" />
		<result column="originator_name" property="originatorName" />
		<result column="readjust_cost_price" property="readjustCostPrice" />
		<result column="procurement_id" property="procurementId" />
		<result column="field1" property="field1" />
		<result column="field2" property="field2" />
		<result column="distributor_customer" property="distributorCustomer" />
		<result column="out_order_num" property="outOrderNum" />

	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id AS orgId, org_tag AS orgTag, transaction_code AS transactionCode, distributor_customer as distributorCustomer,out_order_num as outOrderNum, transaction_type AS transactionType, storage_in_time AS storageInTime, transaction_time AS transactionTime, batch_no AS batchNo, warehouse_id AS warehouseId, slot_id AS slotId, note, status, transaction_by AS transactionBy, originator_id AS originatorId, originator_name AS originatorName, readjust_cost_price AS readjustCostPrice, procurement_id AS procurementId, field1, field2
    </sql>

</mapper>
