<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.warehouse.services.persistence.dao.StorageOutMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.warehouse.services.persistence.model.StorageOut">
		<id column="id" property="id" />
		<result column="org_id" property="orgId" />
		<result column="org_tag" property="orgTag" />
		<result column="transaction_code" property="transactionCode" />
		<result column="transaction_type" property="transactionType" />
		<result column="transaction_time" property="transactionTime" />
		<result column="storage_out_time" property="storageOutTime" />
		<result column="batch_no" property="batchNo" />
		<result column="note" property="note" />
		<result column="status" property="status" />
		<result column="transaction_by" property="transactionBy" />
		<result column="originator_id" property="originatorId" />
		<result column="originator_name" property="originatorName" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="slot_id" property="slotId" />
		<result column="sales_id" property="salesId" />
		<result column="field1" property="field1" />
		<result column="field2" property="field2" />
		<result column="out_order_num" property="outOrderNum" />
		<result column="distributor_customer" property="distributorCustomer" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id AS orgId, org_tag AS orgTag, transaction_code AS transactionCode, sales_id as salesId,out_order_num as outOrderNum, distributor_customer as distributorCustomer,transaction_type AS transactionType, transaction_time AS transactionTime, storage_out_time AS storageOutTime, batch_no AS batchNo, note, status, transaction_by AS transactionBy, originator_id AS originatorId, originator_name AS originatorName, warehouse_id AS warehouseId, slot_id AS slotId, field1, field2
    </sql>

</mapper>
