<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.warehouse.services.persistence.dao.StorageOutItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.warehouse.services.persistence.model.StorageInItem">
		<id column="id" property="id" />
		<result column="storage_out_id" property="storageOutId" />
		<result column="sku_id" property="skuId" />
		<result column="transaction_sku_price" property="transactionSkuPrice" />
		<result column="transaction_quantities" property="transactionQuantities" />
		<result column="transaction_time" property="transactionTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, storage_out_id AS storageOutId, sku_id AS skuId,transaction_sku_price AS transactionSkuPrice, transaction_quantities AS transactionQuantities, transaction_time AS transactionTime</sql>

</mapper>
