<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.warehouse.services.persistence.dao.StorageInMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.warehouse.services.persistence.model.StorageIn">
		<id column="id" property="id" />
		<result column="transaction_code" property="transactionCode" />
		<result column="transaction_type" property="transactionType" />
		<result column="transaction_time" property="transactionTime" />
		<result column="batch_no" property="batchNo" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="slot_id" property="slotId" />
		<result column="note" property="note" />
		<result column="status" property="status" />
		<result column="transaction_by" property="transactionBy" />
		<result column="originator_id" property="originatorId" />
		<result column="readjust_cost_price" property="readjustCostPrice" />
		<result column="field1" property="field1" />
		<result column="field2" property="field2" />
		<result column="procurement_id" property="procurementId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, transaction_code AS transactionCode, procurement_id as procurementId,transaction_type AS transactionType, transaction_time AS transactionTime, batch_no AS batchNo, warehouse_id AS warehouseId, slot_id AS slotId, note, status, transaction_by AS transactionBy, originator_id AS originatorId, readjust_cost_price AS readjustCostPrice, field1, field2
    </sql>

</mapper>
