<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.notification.services.persistence.dao.SubscriptionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.notification.services.persistence.model.Subscription">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="target" property="target" />
		<result column="target_type" property="targetType" />
		<result column="action" property="action" />
		<result column="created_at" property="createdAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, target, target_type AS targetType, action, created_at AS createdAt
    </sql>

</mapper>
