<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.organiaztion.services.persistence.dao.StaffMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.organiaztion.services.persistence.model.Staff">
		<id column="id" property="id" />
		<result column="dept_id" property="deptId" />
		<result column="profile_id" property="profileId" />
		<result column="work_age" property="workAge" />
		<result column="position" property="position" />
		<result column="note" property="note" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id AS deptId, profile_id AS profileId, work_age AS workAge, position, note
    </sql>

</mapper>
